# Node / Tailwind build files
.github/
node_modules/
package.json
package-lock.json
tailwind.config.js
postcss.config.js
build-css

# OS junk
.DS_Store
Thumbs.db

# IDE/editor junk
.vscode/
.idea/
*.swp
*.swo
