@import "tailwindcss";

#Layer_1 {
    width: 250px;
}
.con {
  animation: spin 60s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
.con > g {
  opacity: 0;
  animation: fade-in 1s ease forwards;
}
.con > g:nth-of-type(1) { animation-delay: 0s; }
.con > g:nth-of-type(2) { animation-delay: 1s; }

@keyframes fade-in {
  to { opacity: 1; }
}
@keyframes spin {
  to { transform: rotate(360deg); }
}